<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Footie Scores - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.9.16/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.muicss.com/mui-0.9.16/js/mui.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/webpack-bundle.js') }}"></script>
  </head>
  <body>
    <header id="header">
      <div class="mui-appbar mui--appbar-line-height">
	<div class="mui-container-fluid">
	  <!-- <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
	       <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a> -->
	  <span class="mui--text-title mui--visible-xs-inline-block">Football Scores</span>
	</div>
      </div>
    </header>
    <nav class="sidebar">
      <div class="mui--appbar-height"></div>
      <ul class="mui-list--unstyled">
	{% block games_today_filter %}
	<li>
	  <strong>Games Today</strong>
	  <!-- <div style="display: {{todays_games_sublist_display}}" class="sub-list"> -->
	  <div style="display: none" class="sub-list">
	      <ul id="todays-games" class="mui-list--unstyled">
		<li id="all-comps-button">All Competitions</li>
		{% for comp in competitions_with_games %}
		<li class="individual-competitions">{{comp}}</li>
		{% endfor %}
	      </ul>
	    </div>
	</li>
	{% endblock games_today_filter %}
	{% block games_today_link %}
	<li>
	  <a href={{ url_for('todays_fixtures') }}>
	    <strong>Games Today</strong>
	  </a>
	</li>
	{% endblock games_today_link %}
	<li>
	  <strong>Competitions</strong>
	</li>
	<li>
	  <strong id="past-results">Results</strong>
	  <div style="display: {{past_results_sublist_display}}" class="sub-list">
	    <ul class="mui-list--unstyled">
	      <a href="#">
		<li id="all-comps-button">All Competitions</li>
	      </a>
	      {% for comp in competitions %}
	      <a href={{ url_for('past_results', comp_id=comp.api_id, month_index=8) }}>
		<li class="individual-competitions">{{comp.name}}</li>
	      </a>
	      {% endfor %}
	    </ul>
	  </div>
	</li>
	<li>
	  <strong id="future-fixtures">Fixtures</strong>
	  <div style="display: {{future_fixtures_sublist_display}}" class="sub-list">
	    <ul class="mui-list--unstyled">
	      <a href="#">
		<li id="all-comps-button">All Competitions</li>
	      </a>
	      {% for comp in competitions %}
	      <a href={{ url_for('future_fixtures', comp_id=comp.api_id, month_index=8) }}>
		<li class="individual-competitions">{{comp.name}}</li>
	      </a>
	      {% endfor %}
	    </ul>
	  </div>
	</li>
      </ul>
    </nav>
    <div class="main-panel">
      <div class="mui--appbar-height"></div>
      <div class="mui-container-fluid">
	<div id="view-header-row" class="mui-row">
	  <div class="mui-col-xs-10 mui-col-xs-offset-1">
	    <div id="view-header-container" class="mui-container">
	      <div class="invisible-panel">
		<div id="view-header-panel" class="mui-panel">
		  <h1>{% block header_title %}{% endblock %}</h1>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	{% block filter_row %}
	{% endblock filter_row %}
	{% block main_row_content %}
	{% endblock main_row_content %}
	<div class="time-footer">
	  <p>
	    {{time}}
	  </p>
      React mount point:
      <div id="mount"></div>
	</div>
      </div>
    </div>
  </body>
</html>
