{% extends "base.html" %}
{% block head %}
    {{ super() }}
<script id="vars" type="text/javascript">
 var open_sublist="todays";
</script>
{% endblock head %}
{% block title %}{{title}}{% endblock title %}
{% block header_title %}{{title}}{% endblock %}
{% block games_today_filter %}
    {% if games_today_filter %}
	{{super ()}}
    {% endif %}
{% endblock games_today_filter %}
{% block games_today_link %}
    {% if games_today_link %}
	{{super ()}}
    {% endif %}
{% endblock games_today_link %}
{% block filter_row %}
<div id="filter-options-row" class="mui-row">
  <div class="mui-col-xs-10 mui-col-xs-offset-1">
    <div id="filter-container" class="mui-container-fluid">
    {% for month in short_months %}
    <div class="mui-col-xs-1">
      <a href= {{ url_for('past_results', comp_id=comp_id, month_index=(loop.index0+first_month) % 12)}} >
	{{month}}
      </a>
    </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock filter_row %}
{% block main_row_content %}
<div id="fixture-content-row" class="mui-row">
  <div class="mui-col-xs-10 mui-col-xs-offset-1">
    {% for group in grouped_fixtures %}
    {% if group.fixtures %}
    <div id="{{group.name | replace (' ', '-')}}" class="competition-container">
      <div class="mui-container-fluid">
	<div id="competition-panel" class="mui-panel mui--z2">
	  <div id="comp-header-row" class="mui-row">
	    <div class="mui-col-xs-10 mui-col-xs-offset-1">
	      <div class="competition-name-header">
		<h2> {{group.name}} </h2>
	      </div>
	    </div>
	  </div>
	  {% for fixture in group.fixtures %}
	  <div id="fixture-{{fixture.api_fixture_id}}" class="fixture-row mui-row">
	    <div class="mui-col-xs-10 mui-col-xs-offset-1">
	      <div class="game-panel mui-panel">
		<div class="scoreline-row mui-row">
		  <div class="home-team mui-col-xs-4 mui-col-xs-offset-1">
		    <h4>{{fixture.team_home}}</h4>
		  </div>
		  {% if fixture.override_score %}
		  {% set score = fixture.override_score %}
		  {% else %}
		  {% set score = fixture.score %}
		  {% endif %}
		  <div class="score-mount">
		    <div class="score mui-col-xs-2">
		      <h4 style="color:white">
			{{score}}
		      </h4>
		    </div>
		  </div>
		  <div class="away-team mui-col-xs-4">
		    <h4>{{fixture.team_away}}</h4>
		  </div>
		</div>
		{% if fixture.override_events %}
		{% set events = fixture.override_events %}
		{% else %}
		{% set events = fixture.events %}
		{% endif %}
		{% if events %}
		<div class="events-row mui-row">
		  <div class="home-events mui-col-xs-4 mui-col-xs-offset-1">
		    {% for event in events.home %}
		    {% if event.type == "goal" %}
		    <p>{{event.player}} {{event.time}} '</p>
		    {% endif %}
		    {% endfor %}
		  </div>
		  <div class="status mui-col-xs-2">
		    {% if fixture.override_status %}
		    {% set status = fixture.override_status %}
		    {% else %}
		    {% set status = fixture.status %}
		    {% endif %}
		    {{status}}
		  </div>
		  <div class="away-events mui-col-xs-4">
		    {% for event in events.away %}
		    {% if event.type == "goal" %}
		    <p>{{event.time}}' {{event.player}}</p>
		    {% endif %}
		    {% endfor %}
		  </div>
		</div>
		{% endif %}
		{% if (fixture.lineups.home or fixture.lineups.away) and not display_lineups %}
		<div class="details-row mui-row">
		  <div class="match-details mui=col-xs-6">
		    <a href= {{ url_for('match_details', fixture_id=fixture.api_fixture_id) }} >match details</a>
		  </div>
		</div>
		{% endif %}
	      </div>
	    </div>
	  </div>
	  {% if display_lineups %}
	  <div class="lineups-row mui-row">
	    <div class="mui-col-xs-10 mui-col-xs-offset-1">
	      <div class="lineups-panel mui-panel">
		{% if fixture.lineups.home %}
		<div class="mui-row">
		  <div class="mui-col-xs-12">
		    <div class="lineups-heading">
		      <h4>Starting Lineup</h4>
		    </div>
		  </div>
		</div>
		<div class="events-row" class="mui-row">
		  <div class="home-events mui-col-xs-4 mui-col-xs-offset-1">
		    {% for player in fixture.lineups.home %}
		    <p class="{{player.subbed}}">{{player.name}} {{player.number}} {{player.subst_event_string}}</p>
		    {% endfor %}
		  </div>
		  <div class="mui-col-xs-2">
		  </div>
		  <div class="away-events mui-col-xs-4">
		    {% for player in fixture.lineups.away %}
		    <p class="{{player.subbed}}">{{player.number}} {{player.name}} {{player.subst_event_string}}</p>
		    {% endfor %}
		  </div>
		  <div class="mui-row">
		    <div class="mui-col-xs-12">
		      <div class="lineups-heading">
			<h4>Subs</h4>
		      </div>
		    </div>
		  </div>
		  <div class="home-events mui-col-xs-4 mui-col-xs-offset-1">
		    {% for player in fixture.lineups.home_subs %}
		    <p class="{{player.subbed}}">{{player.name}} {{player.number}} {{player.subst_event_string}}</p>
		    {% endfor %}
		  </div>
		  <div class="mui-col-xs-2">
		  </div>
		  <div class="away-events mui-col-xs-4">
		    {% for player in fixture.lineups.away_subs %}
		    <p class="{{player.subbed}}">{{player.number}} {{player.name}} {{player.subst_event_string}}</p>
		    {% endfor %}
		  </div>
		</div>
		{% endif %}
	      </div>
	    </div>
	  </div>
	  {% endif %}
	  {% endfor %}
	</div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock main_row_content %}
