<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Football Scores</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.9.16/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="https:ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}">
    <script src="//cdn.muicss.com/mui-0.9.16/js/mui.min.js"></script>
  </head>
  <body>
    <header id="header">
      <div class="mui-appbar mui--appbar-line-height">
	<div class="mui-container-fluid">
	  <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
	  <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
	  <span class="mui--text-title mui--visible-xs-inline-block">Football Scores</span>
	</div>
      </div>
    </header>
    <nav class="sidebar">
      <div class="mui--appbar-height"></div>
      <ul class="mui-list--unstyled">
	<li>
	  <strong>Fixtures</strong>
	</li>
	<li>
	  <strong>Results</strong>
	</li>
	<li>
	  <strong>Competitions</strong>
	  <ul class="mui-list--unstyled">
	    <div class="sub-list">
	      {% for comp in competitions %}
	      <li>{{comp.name}}</li>
	      {% endfor %}
	    </div>
	  </ul>
	</li>
      </ul>
    </nav>
    <div class="main-panel">
      <div class="mui--appbar-height"></div>
      <div class="mui-container-fluid">
	<div id="view-header-row" class="mui-row">
	  <div class="mui-col-xs-10 mui-col-xs-offset-1">
	    <div id="view-header-container" class="mui-container">
	      <div class="invisible-panel">
		<div id="view-header-panel" class="mui-panel">
		  <h1>Today's Fixtures</h1>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="fixture-content-row" class="mui-row">
	  <div class="mui-col-xs-10 mui-col-xs-offset-1">
	    {% for comp in competitions %}
	    {% if comp.fixtures %}
	    <div id="competition-container" class="mui-container-fluid">
	      <div id="competition-panel" class="mui-panel mui--z2">
		<div id="comp-header-row" class="mui-row">
		  <div class="mui-col-xs-10 mui-col-xs-offset-1">
		    <div class="competition-name-header">
		      <h2> {{comp.name}} </h2>
		    </div>
		  </div>
		</div>
		{% for fixture in comp.fixtures %}
		<div id="game-row" class="mui-row">
		  <div class="mui-col-xs-10 mui-col-xs-offset-1">
		    <div id="game-panel" class="mui-panel">
		      <div id="scoreline-row" class="mui-row">
			<div id="home-team" class="mui-col-xs-4 mui-col-xs-offset-1">
			  <h4>{{fixture.team_home}}</h4>
			</div>
			<div id="score" class="mui-col-xs-2">
			  <h4>{{fixture.score}}</h4>
			</div>
			<div id="away-team" class="mui-col-xs-4">
			  <h4>{{fixture.team_away}}</h4>
			</div>
		      </div>
		      {% if fixture.events %}
		      <div id="events-row" class="mui-row">
			<div id="home-events" class="mui-col-xs-4 mui-col-xs-offset-1">
			  {% for event in fixture.events.home %}
			  <p>{{event.player}} {{event.time}}</p>
			  {% endfor %}
			</div>
			<div class="mui-col-xs-2">
			</div>
			<div id="away-events" class="mui-col-xs-4">
			  {% for event in fixture.events.away %}
			  <p>{{event.time}} {{event.player}}</p>
			  {% endfor %}
			</div>
		      </div>
		      {% endif %}
		      {% if fixture.lineups %}
		      <div id="details-row" class="mui-row">
			<div id="match-details" class="mui=col-xs-6">
			  <a href= {{ url_for('match_details', fixture_id=fixture.api_fixture_id) }} >match details</a>
			</div>
		      </div>
		      {% endif %}
		    </div>
		  </div>
		</div>
		{% endfor %}
	      </div>
	    </div>
	    {% endif %}
	    {% endfor %}
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
