appnope==0.1.0
certifi==2017.4.17
chardet==3.0.3
click==6.7
decorator==4.0.11
Flask==0.12.2
-e git+https://github.com/FredDavison/football-scores.git@6a08518d3d150430db543f8bb5ff52c3a93a27e5#egg=FootieScores
gevent==1.2.1
greenlet==0.4.12
grequests==0.3.0
gunicorn==19.7.1
idna==2.5
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
MarkupSafe==1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
psycopg2==2.7.1
ptyprocess==0.5.1
Pygments==2.2.0
pytz==2017.2
requests==2.16.5
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.10
traitlets==4.3.2
urllib3==1.21.1
wcwidth==0.1.7
Werkzeug==0.12.2
