certifi==2017.4.17
chardet==3.0.3
click==6.7
Flask==0.12.2
-e git+https://github.com/FredDavison/football-scores.git@0d78cbfee27fdd3dbf9f45e2e4d5a1c071a8e985#egg=FootieScores
gevent==1.2.1
greenlet==0.4.12
grequests==0.3.0
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pytz==2017.2
requests==2.16.5
SQLAlchemy==1.1.10
urllib3==1.21.1
Werkzeug==0.12.2
