<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Scores for 16/01/2017 </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  </head>
  <body>
    <div class="competition">
      <div class="game">
	<div class="score">
	  <div class="home_team">
	    <p>{{fixture.team_home}}</p>
	  </div>
	  <div class="scoreline">
	    <p>{{fixture.score}}</p>
	  </div>
	  <div class="away_team">
	    <p>{{fixture.team_away}}</p>
	  </div>
	  <div class="home_events">
	    {% for player in fixture.lineups.home %}
	    <p>{{player.number}} {{player.name}}</p>
	    {% endfor %}
	  </div>
	  <div class="away_events">
	    {% for player in fixture.lineups.away %}
	    <p>{{player.number}} {{player.name}}</p>
	    {% endfor %}
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
