<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Scores for 16/01/2017 </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  </head>
  <body>
    {% for game in games %}
    <div class="game">
      <div class="score">
    	<div class="home_score">
    	  <p>{{game.team_home}} {{game.score_home}}</p>
    	</div>
    	<div class="away_score">
    	  <p>{{game.score_away}} {{game.team_away}}</p>
	</div>
      </div>
      <div class="events">
      	<div class="home_events">
      	  {% for event in game.home_events %}
      	    <p>{{event.player}} {{event.time}}</p>
      	  {% endfor %}
      	</div>
      	<div class="away_events">
      	  {% for event in game.away_events %}
      	    <p>{{event.time}} {{event.player}}</p>
      	  {% endfor %}
      	</div>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
