body {background-color: #eee;}

/* #main-panel {margin-left: 200px;} */

#header {
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

#sidebar {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: white;
}

#sidebar ul {
    padding-top: 15px;
    padding-left: 15px;}
#sidebar li {line-height: 1.5;}

/* #competition :first-child { */
/*     margin-top: 15px; */
/* } */

.score {
    width: 100%;
}

#home-team, #home-events {text-align: right;}
#away-team, #away-events {text-align: left;}
p, #home-events, #away-events {
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 0px;
}
#score {text-align: center;}

#match-details {
    text-align: right;
    padding: 15px;
}
